extends layout

block body
  h1 todo list

  if !authenticated
    a(href="/login") Login
  else
    a(href="/logout") Logout
    form(action='/todo' method="POST")
      input(type="text" name="title" placeholder="todo" required)
      input(type="submit" value="add")

  ul
    each todo, i in todos
      li= todo.attributes.title
