extends layout

block body
  h1 todo list

  if !authenticated
    a(href="/login") Login
  else
    a(href="/logout") Logout
    form(action='/todo' method="POST")
      input(type="text" name="title" placeholder="todo" required)
      input(type="submit" value="add")

  ul.todo
    each todo, i in todos
      li.todo__item= todo.attributes.title
        if authenticated
          i.fa.fa-edit.todo__icon.todo__icon--edit(data-id="#{todo.attributes._id}")
          i.fa.fa-trash-o.todo__icon.todo__icon--remove(data-id="#{todo.attributes._id}")

  if authenticated
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/script/index.js")
