doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title koa todo list
    meta(name='viewport' content='width=device-width, initial-scale=1')
    if authenticated
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style/style.css', media='all')
  body
    block body
