extends layout

block body
  form.loginForm(action="/login" method="POST")
    input(type="hidden" name="_csrf" value="#{csrf}")
    input.loginForm__input(type="text" name="username" placeholder="Username")
    input.loginForm__input(type="password" name="password" placeholder="Password")
    input.loginForm__submit(type="submit" value="Login")
