.footer {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  &__text {
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
  }
  &__link {
    color: #999;
    transition: color .3s;
    &:hover {
      color: #000;
    }
    &--github {
      color: #555;
    }
  }
}
